# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Generated data (Data Lake content)
datalake/raw/
datalake/formatted/
datalake/usage/

# Environment variables
.env

# VS Code
.vscode/

# Windows
Thumbs.db
