version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: datalake
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d datalake"]
      interval: 5s
      timeout: 5s
      retries: 10

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  airflow-init:
    image: apache/airflow:2.8.1-python3.11
    container_name: airflow-init
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/datalake
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"

      # timezone settings -> Europe/Paris
      AIRFLOW__CORE__DEFAULT_TIMEZONE: Europe/Paris
      AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE: Europe/Paris
      TZ: Europe/Paris

      TMDB_API_KEY: "5f0a7bf2f50c49c8a9963cae1e78a019"
      OMDB_API_KEY: "3ec8b84a"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
      POSTGRES_DB: "datalake"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      ES_HOST: "http://elasticsearch:9200"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./datalake:/opt/airflow/datalake
      - ./movies_analytics:/opt/airflow/movies_analytics
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      bash -c "
      pip install --no-cache-dir --quiet dbt-core==1.7.9 dbt-postgres==1.7.9 requests psycopg2-binary pandas pyarrow elasticsearch==8.11.0 &&
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true
      "

  airflow-webserver:
    image: apache/airflow:2.8.1-python3.11
    container_name: airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/datalake
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"

      # timezone settings -> Europe/Paris
      AIRFLOW__CORE__DEFAULT_TIMEZONE: Europe/Paris
      AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE: Europe/Paris
      TZ: Europe/Paris

      TMDB_API_KEY: "5f0a7bf2f50c49c8a9963cae1e78a019"
      OMDB_API_KEY: "3ec8b84a"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
      POSTGRES_DB: "datalake"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      ES_HOST: "http://elasticsearch:9200"
    ports:
      - "8081:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./datalake:/opt/airflow/datalake
      - ./movies_analytics:/opt/airflow/movies_analytics
    depends_on:
      - airflow-init
    command: >
      bash -c "
      pip install --no-cache-dir --quiet dbt-core==1.7.9 dbt-postgres==1.7.9 requests psycopg2-binary pandas pyarrow elasticsearch==8.11.0 &&
      airflow db check && 
      airflow webserver
      "

  airflow-scheduler:
    image: apache/airflow:2.8.1-python3.11
    container_name: airflow-scheduler
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/datalake
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"

      # timezone settings -> Europe/Paris
      AIRFLOW__CORE__DEFAULT_TIMEZONE: Europe/Paris
      AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE: Europe/Paris
      TZ: Europe/Paris

      TMDB_API_KEY: "5f0a7bf2f50c49c8a9963cae1e78a019"
      OMDB_API_KEY: "3ec8b84a"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
      POSTGRES_DB: "datalake"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      ES_HOST: "http://elasticsearch:9200"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./datalake:/opt/airflow/datalake
      - ./movies_analytics:/opt/airflow/movies_analytics
    depends_on:
      - airflow-init
    command: >
      bash -c "
      pip install --no-cache-dir --quiet dbt-core==1.7.9 dbt-postgres==1.7.9 requests psycopg2-binary pandas pyarrow elasticsearch==8.11.0 &&
      airflow db check && 
      airflow scheduler
      "

volumes:
  pgdata:
  esdata:
